body {
    margin: 0;
    h1, p, h2, h3 {
        margin: 0;
    }
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 3px solid black;
    border-bottom: 2.5px solid rgba(0, 0, 0, 0.2);
    
    .container {
        width: 90%;
        display: flex;
        max-width: 1900px;
        // border: 3px solid red;
        justify-content: space-between;
        padding: clamp(12px, 2vw, 20px) 0;

        .titleContainer {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                color: #147EFB;
            }

            h3 {
                cursor: pointer;
                font-size: clamp(16px, 1.5vw, 20px);
            }
        }

        .leftContainer {
            display: flex;
            padding: 10px;
            align-items: center;
            justify-content: center;
            gap: clamp(18px, 2.5vw, 30px);

            p {
                cursor: pointer;
                font-weight: 600;
                font-size: clamp(16px, 1vw, 18px);
                transition: color .15s ease-in-out;

                &:hover {
                    color: #147EFB;
                }

                &:active {
                    opacity: .7;
                }
            }
        }

        //For Mobile phone
        .mobileLeftContainer {
            position: fixed;
            background-color: #f9f9f9;
            top: 0;
            bottom: 0;
            left: -100%;
            width: 100%;
            transition: all 0.5s ease-in-out;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            p {
                font-size: 30px;
                font-weight: 550;
            }

            .exitIcon {
                position: absolute;
                right: 12px;
                top: 12px;
                width: clamp(40px, 2vw, 40px);

                &:active {
                    opacity: .8;
                }
            }
        }

        .active {
            left: 0;
        }

        .menu {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: clamp(30px, 2vw, 30px);

                &:active {
                    opacity: .8;
                }
            }
        }
    }
}

.mainContainer {
    // border: 3px solid black;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;

    .container {
        max-width: 1900px;
        width: 80%;
        // border: 3px solid red;

        div {
            // border: 2px solid black;
        }

        .topContainer {
            display: flex;
            gap: 40px;
            align-items: center;

            .leftSide {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 5px solid black;
                border-radius: 50vw;
                
                img {
                    border-radius: 50vw;
                    width: clamp(30px, 35vw, 500px);
                }
            }

            .rightSide {
                display: flex;
                align-items: start;
                flex-direction: column;
                box-sizing: border-box;

                .devTxt {
                    margin-top: -10px;
                }

                h1 {
                    font-weight: 750;
                    font-size: clamp(30px, 4.3vw, 120px);
                    color: rgb(17, 17, 17);
                }

                p {
                    font-size: clamp(17px, 2vw, 50px);
                    font-weight: 600;
                    max-width: 1000px;
                    color: rgb(17, 17, 17);
                    margin-top: clamp(20px, 3vw, 35px);
                }

                .linkIcon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: clamp(10px, 2vw, 15px);
                    cursor: pointer;
                    margin-top: clamp(20px, 3vw, 35px);
                    img {
                        width: clamp(40px, 3vw, 50px);
                    }
                }
            }
        }

        .bottomContainer {
            // padding: 15px 0px;
            cursor: pointer;
            margin-top: clamp(10px, 3vw, 45px);

            .techStack {
                display: flex;
                gap: clamp(10px, 2vw, 20px);
                align-items: center;
                p {
                    font-size: clamp(20px, 5vw, 30px);
                    font-weight: 600;
                }

                div {
                    display: flex;
                    gap: 25px;
                }

                img {
                    width: clamp(40px, 5vw, 50px);
                    transition: transform 0.5s ease-in-out;

                    &:hover {
                        transform: translateY(-12px); 
                    }
                }
            }
            @media only screen and (max-width: 767px) {
                .techStack {
                    flex-direction: column;

                    div {
                        display: flex;
                        gap: 15px;
                        margin-top: 10px;
                    }
                }
            }
            
        }

        @media only screen and (max-width: 767px) {
            .topContainer {
                display: flex;
                flex-direction: column;
                align-items: center;

                .leftSide {
                    
                    img {
                        border-radius: 50vw;
                        width: 70vw;
                    }
                }
                
            }
        }
    }
}

.aboutContainer {
    // border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(10px, 10vw, 200px) 0px;

    @media only screen and (max-width: 767px) {
        padding: 80px 0px;
    }

    .container {
        max-width: 1900px;
        width: 80%;
        // border: 3px solid red;

        display: flex;
        gap: clamp(30px, 4vw, 70px);

        div {
            // border: 2px solid black;
        }

        .imgContainer {
            // box-sizing: border-box;
            display: flex;

            img {
                box-sizing: border-box;
                border-radius: 30px;
                // border: 3px solid black;
                box-shadow: 5px 5px 5px #00000070;
                width: clamp(300px, 30vw, 500px);
               
            }
        }

        .AboutContainer {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            .about {
                font-weight: 700;
                color: #147EFB;
                margin-top: 20px;
                margin-bottom: 15px;
                font-size: clamp(20px, 1.5vw, 35px);
            }

            h1 {
                margin-bottom: 15px;
                font-size: clamp(31px, 2.5vw, 70px);
            }

            p {
                font-weight: 500;
                color: rgb(69, 69, 69);
                max-width: 600px;
                font-size: clamp(18px, 1vw, 20px);
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            .imgContainer {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.projectsContainer {
    // border: 3px solid black;
    padding: 15px 0;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    justify-content: center;

    @media only screen and (max-width: 767px)  {
        padding: 30px 0px;
    }

    .container {
        max-width: 1900px;
        width: 80%;
        // border: 3px solid red;

        h3 {
            font-size: clamp(20px, 1.8vw, 50px);
            color: #147EFB;
            margin-bottom: 10px;
            margin-top: 20px;
        }
        
        h1 {
            // font-size: clamp(25px, 2vw, 50px);
            font-size: clamp(31px, 2.5vw, 70px);
            margin-bottom: 8px;
        }

        .MainProjectContainer {
            // border: 2px solid black;
            margin: clamp(30px, 4vw, 60px) 0px;
            
            div {
                // border: 2px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                @media only screen and (max-width: 767px) {
                    display: flex;
                    flex-direction: column;
                }
            }

            .leftSide {
                margin: 0 20px;
                img {
                    box-shadow: 5px 5px 5px #00000045;
                    border-radius: 15px;
                    width: clamp(250px, 25vw, 500px);
                    cursor: pointer;
                    
                    &:hover {
                        box-shadow: 3px 3px 5px #00000082;
                    }
                }
            }

            .rightSide {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .link {
                    @media only screen and (max-width: 767px) {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 35px;
                    }
                }

                h1 {
                    font-size: clamp(20px, 1.5vw, 50px);
                }

                p {
                    font-size: clamp(16px, 1.3vw, 20px);
                    text-align: start;
                    margin: 5px 0;
                    max-width: clamp(300px, 30vw, 500px);
                    color: rgb(87, 87, 87);
                    // font-weight: 500;
                }

                

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                    text-decoration: none;
                    color: black;
                    font-weight: 600;
                    font-size: clamp(20px, 1vw, 50px);
                    
                    &:hover {
                        color: #147EFB;
                    }
                }

                img {
                    width: clamp(20px, 1.4vw, 50px);
                }
            }

            
        }
    }
}

.contactContainer {
    // border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0px;

    @media only screen and (max-width: 767px) {
        padding: 80px 0px;
    }

    .container {
        max-width: 1900px;
        width: 80%;
        // border: 3px solid red;

        .contactTxt {
            color: #147EFB;
            font-size: clamp(20px, 1.8vw, 50px);
            margin-bottom: 12px;

            @media only screen and (max-width: 767px) {
                text-align: start;
            }
        }

        h1 {
            font-size: clamp(31px, 2.5vw, 70px);

            @media only screen and (max-width: 767px) {
                text-align: center;
            }
        }

        .mainContainerX {
            display: flex;
            justify-content: start;
            gap: clamp(15px, 2vw, 25px);
            margin-top: 50px;

            @media only screen and (max-width: 767px) {
                margin-top: 20px;
            }

            @media only screen and (max-width: 767px) {
                display: flex;
                flex-direction: column;
                align-items: start;
            }

            div {
                // border: 2px solid black;
            }

            .Main {
                display: flex;
                padding: 15px;
                gap: 15px;

                .iconSection {
                    border-radius: 50vw;
                    padding: 10px;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.127);

                    @media only screen and (max-width: 767px) {
                        width: 40px;
                        height: 40px;
                    }
                    
                    img {
                        background-color: white;
                        width: clamp(30px, 5vw, 40px);
                    }

                }

                .info {
                    p {
                        font-weight: 600;
                        font-size: clamp(18px, 2vw, 25px);
                    }
                    
                    .gray {
                        font-size: clamp(18px, 2vw, 20px);
                        color: rgb(62, 62, 62);
                        margin: 10px 0px;
                        font-weight: 400;

                        a {
                            color: black;
                            text-decoration: none;
                            font-size: clamp(18px, 2vw, 20px);
                            color: rgb(62, 62, 62);

                            &:hover {
                                color: #147EFB;
                            }
                        }
                    }
                }

            }
        }
    }
}

.footerContainer {
    // border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2D2E32;
    padding: 100px 0px;

    @media only screen and (max-width: 767px) {
        padding: 80px 0;
    }

    .container {
        max-width: 1900px;
        width: 80%;
        // border: 3px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 767px) {
            flex-direction: column;
            align-items: start;
            gap: 20px;
            width: 80%;
        }

        div {
            // border: 2px solid black;
        }

        .leftSide {

            h2 {
                color: white;
                font-size: clamp(16px, 2vw, 25px);
            }
        }

        .rightSide {
            display: flex;
            gap: 30px;

            img {
                width: clamp(40px, 5vw, 40px);
                cursor: pointer;

                &:active {
                    opacity: .8;
                }
            }
        }
    }
}

//  @media only screen and (max-width: 767px)

// border: 3px solid black;
// display: flex;
// align-items: center;
// justify-content: center;

// .container {
//     max-width: 1900px;
//     width: 80%;
//     border: 3px solid red;
// }