body {
  margin: 0;
}

body h1, body p, body h2, body h3 {
  margin: 0;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.2);
}

.headerContainer .container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1900px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: clamp(12px, 2vw, 20px) 0;
}

.headerContainer .container .titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerContainer .container .titleContainer h3 {
  cursor: pointer;
  font-size: clamp(16px, 1.5vw, 20px);
}

.headerContainer .container .leftContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(18px, 2.5vw, 30px);
}

.headerContainer .container .leftContainer p {
  cursor: pointer;
  font-weight: 600;
  font-size: clamp(16px, 1vw, 18px);
}

.headerContainer .container .leftContainer p:active {
  opacity: .7;
}

.headerContainer .container .mobileLeftContainer {
  position: fixed;
  background-color: #f9f9f9;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.headerContainer .container .mobileLeftContainer p {
  font-size: 30px;
  font-weight: 550;
}

.headerContainer .container .mobileLeftContainer .exitIcon {
  position: absolute;
  right: 12px;
  top: 12px;
  width: clamp(40px, 2vw, 40px);
}

.headerContainer .container .mobileLeftContainer .exitIcon:active {
  opacity: .8;
}

.headerContainer .container .active {
  left: 0;
}

.headerContainer .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerContainer .container .menu img {
  width: clamp(30px, 2vw, 30px);
}

.headerContainer .container .menu img:active {
  opacity: .8;
}

.mainContainer {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f9f9f9;
}

.mainContainer .container {
  max-width: 1900px;
  width: 80%;
}

.mainContainer .container .topContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContainer .container .topContainer .leftSide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 5px solid black;
  border-radius: 50vw;
}

.mainContainer .container .topContainer .leftSide img {
  border-radius: 50vw;
  width: clamp(30px, 35vw, 500px);
}

.mainContainer .container .topContainer .rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainContainer .container .topContainer .rightSide .devTxt {
  margin-top: -10px;
}

.mainContainer .container .topContainer .rightSide h1 {
  font-weight: 750;
  font-size: clamp(30px, 4.3vw, 120px);
  color: #111111;
}

.mainContainer .container .topContainer .rightSide p {
  font-size: clamp(17px, 2vw, 50px);
  font-weight: 600;
  max-width: 1000px;
  color: #111111;
  margin-top: clamp(20px, 3vw, 35px);
}

.mainContainer .container .topContainer .rightSide .linkIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(10px, 2vw, 15px);
  cursor: pointer;
  margin-top: clamp(20px, 3vw, 35px);
}

.mainContainer .container .topContainer .rightSide .linkIcon img {
  width: clamp(40px, 3vw, 50px);
}

.mainContainer .container .bottomContainer {
  cursor: pointer;
  margin-top: clamp(10px, 3vw, 45px);
}

.mainContainer .container .bottomContainer .techStack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(10px, 2vw, 20px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContainer .container .bottomContainer .techStack p {
  font-size: clamp(20px, 5vw, 30px);
  font-weight: 600;
}

.mainContainer .container .bottomContainer .techStack div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.mainContainer .container .bottomContainer .techStack img {
  width: clamp(40px, 5vw, 50px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.mainContainer .container .bottomContainer .techStack img:hover {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

@media only screen and (max-width: 767px) {
  .mainContainer .container .bottomContainer .techStack {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContainer .container .bottomContainer .techStack div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .mainContainer .container .topContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainContainer .container .topContainer .leftSide img {
    border-radius: 50vw;
    width: 70vw;
  }
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: clamp(10px, 10vw, 200px) 0px;
}

@media only screen and (max-width: 767px) {
  .aboutContainer {
    padding: 80px 0px;
  }
}

.aboutContainer .container {
  max-width: 1900px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(30px, 4vw, 70px);
}

.aboutContainer .container .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutContainer .container .imgContainer img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 5px #00000070;
          box-shadow: 5px 5px 5px #00000070;
  width: clamp(300px, 30vw, 500px);
}

.aboutContainer .container .AboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutContainer .container .AboutContainer .about {
  font-weight: 700;
  color: #147EFB;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: clamp(20px, 1.5vw, 35px);
}

.aboutContainer .container .AboutContainer h1 {
  margin-bottom: 15px;
  font-size: clamp(31px, 2.5vw, 70px);
}

.aboutContainer .container .AboutContainer p {
  font-weight: 500;
  color: #454545;
  max-width: 600px;
  font-size: clamp(18px, 1vw, 20px);
}

@media only screen and (max-width: 767px) {
  .aboutContainer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .aboutContainer .container .imgContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.projectsContainer {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9f9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 767px) {
  .projectsContainer {
    padding: 30px 0px;
  }
}

.projectsContainer .container {
  max-width: 1900px;
  width: 80%;
}

.projectsContainer .container h3 {
  font-size: clamp(20px, 1.8vw, 50px);
  color: #147EFB;
  margin-bottom: 10px;
  margin-top: 20px;
}

.projectsContainer .container h1 {
  font-size: clamp(31px, 2.5vw, 70px);
  margin-bottom: 8px;
}

.projectsContainer .container .MainProjectContainer {
  margin: clamp(30px, 4vw, 60px) 0px;
}

.projectsContainer .container .MainProjectContainer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

@media only screen and (max-width: 767px) {
  .projectsContainer .container .MainProjectContainer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.projectsContainer .container .MainProjectContainer .leftSide {
  margin: 0 20px;
}

.projectsContainer .container .MainProjectContainer .leftSide img {
  -webkit-box-shadow: 5px 5px 5px #00000045;
          box-shadow: 5px 5px 5px #00000045;
  border-radius: 15px;
  width: clamp(250px, 25vw, 500px);
  cursor: pointer;
}

.projectsContainer .container .MainProjectContainer .leftSide img:hover {
  -webkit-box-shadow: 3px 3px 5px #00000082;
          box-shadow: 3px 3px 5px #00000082;
}

.projectsContainer .container .MainProjectContainer .rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 767px) {
  .projectsContainer .container .MainProjectContainer .rightSide .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 35px;
  }
}

.projectsContainer .container .MainProjectContainer .rightSide h1 {
  font-size: clamp(20px, 1.5vw, 50px);
}

.projectsContainer .container .MainProjectContainer .rightSide p {
  font-size: clamp(16px, 1.3vw, 20px);
  text-align: start;
  margin: 5px 0;
  max-width: clamp(300px, 30vw, 500px);
  color: #575757;
}

.projectsContainer .container .MainProjectContainer .rightSide a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: clamp(20px, 1vw, 50px);
}

.projectsContainer .container .MainProjectContainer .rightSide a:hover {
  color: #147EFB;
}

.projectsContainer .container .MainProjectContainer .rightSide img {
  width: clamp(20px, 1.4vw, 50px);
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 150px 0px;
}

@media only screen and (max-width: 767px) {
  .contactContainer {
    padding: 80px 0px;
  }
}

.contactContainer .container {
  max-width: 1900px;
  width: 80%;
}

.contactContainer .container .contactTxt {
  color: #147EFB;
  font-size: clamp(20px, 1.8vw, 50px);
  margin-bottom: 12px;
}

@media only screen and (max-width: 767px) {
  .contactContainer .container .contactTxt {
    text-align: start;
  }
}

.contactContainer .container h1 {
  font-size: clamp(31px, 2.5vw, 70px);
}

@media only screen and (max-width: 767px) {
  .contactContainer .container h1 {
    text-align: center;
  }
}

.contactContainer .container .mainContainerX {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: clamp(15px, 2vw, 25px);
  margin-top: 50px;
}

@media only screen and (max-width: 767px) {
  .contactContainer .container .mainContainerX {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .contactContainer .container .mainContainerX {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.contactContainer .container .mainContainerX .Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  gap: 15px;
}

.contactContainer .container .mainContainerX .Main .iconSection {
  border-radius: 50vw;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.127);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.127);
}

@media only screen and (max-width: 767px) {
  .contactContainer .container .mainContainerX .Main .iconSection {
    width: 40px;
    height: 40px;
  }
}

.contactContainer .container .mainContainerX .Main .iconSection img {
  background-color: white;
  width: clamp(30px, 5vw, 40px);
}

.contactContainer .container .mainContainerX .Main .info p {
  font-weight: 600;
  font-size: clamp(18px, 2vw, 25px);
}

.contactContainer .container .mainContainerX .Main .info .gray {
  font-size: clamp(18px, 2vw, 20px);
  color: #3e3e3e;
  margin: 10px 0px;
  font-weight: 400;
}

.contactContainer .container .mainContainerX .Main .info .gray a {
  color: black;
  text-decoration: none;
  font-size: clamp(18px, 2vw, 20px);
  color: #3e3e3e;
}

.contactContainer .container .mainContainerX .Main .info .gray a:hover {
  color: #147EFB;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2D2E32;
  padding: 100px 0px;
}

@media only screen and (max-width: 767px) {
  .footerContainer {
    padding: 80px 0;
  }
}

.footerContainer .container {
  max-width: 1900px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .footerContainer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 20px;
    width: 80%;
  }
}

.footerContainer .container .leftSide h2 {
  color: white;
  font-size: clamp(16px, 2vw, 25px);
}

.footerContainer .container .rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footerContainer .container .rightSide img {
  width: clamp(40px, 5vw, 40px);
  cursor: pointer;
}

.footerContainer .container .rightSide img:active {
  opacity: .8;
}
/*# sourceMappingURL=style.css.map */